.investments-table {
  h3 {
    font-size: 20px;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px 4px 8px;
  }
  .ml-1 {
    margin-left: 1px !important;
  }

}

.feedback-message {
  padding-left: 2px;
  &.success {
    color: #008000;;
  }
  &.error {
    color: #F00;;
  }
}
